@import url('https://fonts.googleapis.com/css?family=Ubuntu:500');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300');

body {
	text-align: center;
	background-size: cover;
}

h1 {
	text-align: center;
}

h2 { background-color: #44d9e6;
	color: white;
	font-weight: bold;
	font-family: 'Ubuntu', sans-serif;
	line-height: 3;
	font-size: 33px;
 }

p {
	text-align: center;
}
ul {list-style-type: none;
	font-weight: lighter;
	font-family: 'Ubuntu:300', sans-serif;
	line-height: 3;
	font-size: 29px;
	color:#44d9e6;
}

hr {width: 600px;
	border-color: #44d9e6;
}

h3{ color: white;
	font-weight: bold;	
	font-size: 29px;
	font-family: 'Ubuntu', sans-serif;
	line-height: 3;
	background-color: #44d9e6;
}
header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}
nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}
section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}
footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}
